<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
<localRepository>/usr1/maven/repository</localRepository>
  <pluginGroups>
  </pluginGroups>

 
 <proxies>
   <proxy>
      <id>optional</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>proxyhk.huawei.com</host>
      <port>8080</port> 
	  <nonProxyHosts>*huawei.com|10.*</nonProxyHosts>	  
    </proxy>
</proxies>

 
  <servers>
  </servers>
    


  <mirrors>
	 <mirror>
		<id>maven</id>
		<mirrorOf>central</mirrorOf>
		<url>http://mirrors.tools.huawei.com/maven/</url>
	</mirror>   
	<mirror>
		<id>devtestmirror</id>
		<mirrorOf>devtest-releases</mirrorOf>
        <url>http://mirrors.tools.huawei.com/maven/</url>
	</mirror>
  </mirrors>
  <profiles>
    
  </profiles>
 
</settings>