<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/IDE_Automation_TR5/src/test_scripts/AR_Tools_IDE_030_002_MUL_QRY.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="test_scripts.AR_Tools_IDE_030_002_MUL_QRY"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="IDE_Automation_TR5"/>
</launchConfiguration>
